<ion-content class="ion-no-margin background-image">
  <!-- <img src="assets/img/Login-page-2.png"> -->
  <ion-grid class="ion-no-padding">
    <div class="blue-bg ion-text-center">
      <h1>Reset Password</h1>
   </div>
     <form  [formGroup] = "reset_form" (ngSubmit)="resetPassword(reset_form.value)">
        <ion-row>
           <ion-col size="12">
              <ion-item >
                 <ion-label position="floating">Email</ion-label>
                 <ion-input  formControlName="email"></ion-input>
              </ion-item>
              <p ion-text class="text-1x has-error red"
              *ngIf="reset_form.get('email').touched && reset_form.get('email').hasError('required')">
               Email is required.
            </p>
           </ion-col>
           <ion-col size="12">
            <ion-item >
               <ion-label position="floating">New Password</ion-label>
               <ion-input  formControlName="newpassword"></ion-input>
            </ion-item>
            <p ion-text class="text-1x has-error red"
            *ngIf="reset_form.get('newpassword').touched && reset_form.get('newpassword').hasError('required')">
             New Password is required.
          </p>
         </ion-col>
           <ion-col size="12">
              <ion-item >
                 <ion-label position="floating" >ConFirm Password</ion-label>
                 <ion-input formControlName="confirmpass"></ion-input>
              </ion-item>
              <p ion-text class="text-1x has-error red"
              *ngIf="reset_form.get('confirmpass').touched && reset_form.get('confirmpass').hasError('required')">
              Comfirm Password is required.
            </p>
           </ion-col>
          
           <ion-col size="12">
              <ion-item size="12">
                 <ion-label position="floating" >OTP</ion-label>
                 <ion-input formControlName="code"></ion-input>
              </ion-item>
              <p ion-text class="text-1x has-error red"
              *ngIf="reset_form.get('code').touched && reset_form.get('code').hasError('required')">
               OTP is required.
            </p>
           </ion-col>
        </ion-row>
        <ion-button type="submit" expand="block" >Reset Password</ion-button>
     </form>
     <p  class="ion-text-center">Already have account? <ion-text routerLink= "/login">Login</ion-text></p>
  </ion-grid>
</ion-content>