<ion-header class="ion-no-border">
   <ion-toolbar mode="ios">
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-buttons>
     <ion-title>Mocktest</ion-title>
   </ion-toolbar>
  
</ion-header>
<ion-content >
  
  <ion-grid >
   <ion-segment value="attempted" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">
    
      <ion-segment-button value="attempted" >
         <ion-label>Attempted </ion-label>
      </ion-segment-button>
      <ion-segment-button value="unattempted">
         <ion-label>Unattempted</ion-label>
      </ion-segment-button>
   </ion-segment>
   <!-- Start section Attempted -->
   <ion-list *ngIf="segmentModel === 'attempted'">
      <ion-item lines="full">
         <ion-label>
            <h1>UPSE CSE Practice test</h1>
            <p>12 jun 20 | 3hr</p>
            <P>Results on: 29 jun '20 | 3:000 </P>
         </ion-label>
         <ion-icon name="document-text-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="full">
         <ion-label>
            <h1>UPSE CSE Practice test</h1>
            <p>12jun20 | 3hr</p>
            <P>Results on: 29 jun '20 | 3:000 </P>
         </ion-label>
         <ion-icon name="document-text-outline" slot="end"></ion-icon>
      </ion-item>
   </ion-list>
   <!-- End section Attempted -->
   <!-- start section Unattempted -->
   <ion-list *ngIf="segmentModel === 'unattempted'">
      <ion-item lines="full">
         <ion-label>
            <h1>UPSE</h1>
            <p>12 jun 20 | 3hr</p>
            <P>Results on: 29 jun '20 | 3:000 </P>
         </ion-label>
         <ion-icon name="document-text-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="full">
         <ion-label>
            <h1>UPSE</h1>
            <p>12jun20 | 3hr</p>
            <P>Results on: 29 jun '20 | 3:000 </P>
         </ion-label>
         <ion-icon name="document-text-outline" slot="end"></ion-icon>
      </ion-item>
   </ion-list>
  </ion-grid>
</ion-content>