ion-list{
    ion-item{
        margin-bottom: 10px;
        ion-icon {
 
            background-color: #ffa5003b;
            color: var(--ion-color-orange);
            border-radius: 50%;
            font-size: 28px;
            padding: 10px 10px;
        }
        ion-label{
            h1 {
                font-size: 18px !important;
                font-weight: bold !important;
                margin-bottom: 10px !important;
            }
            p{
                font-size: 16px;
                color:var(--ion-color-black);
                opacity: 0.7;
            }
        }
    }
}
ion-segment {
    --background: var(--ion-color-orange);
   border-radius: 0px;
  
    ion-segment-button{
        height: 46px;
        text-transform: capitalize;
        --background: #ff9700;
        --color: #fff;
        --background-checked: #fff;
        --color-checked: #ff9700;
        --border-radius: 5px;
        --indicator-hight: 0px;
        --border-radius: 0px;
        font-size: 18px;
    }
   
    
}