
    .cover-pic-image{
        width: 100%;
      img{
    width: 100%;
    border-radius: 10px;
    height: 148px;
    opacity: 0.6;
    }
    }



.profile-pic{
img {
  width: 125px;
}
}
ion-img {
  width: 140px;
  position: absolute;
  top: -47px;
  left: -7px;
}
.profile-pic {
  position: relative;
  width: 100%;
}
ion-list {
  margin-top: 71px;

ion-item {
  --background: transparent;
  background-color: var(--ion-color-edit-bg);
  margin-bottom: 12px;
  padding: 4px 0px;
  border-radius: 5px;
  ion-icon {
    color: var(--ion-color-icon-edit);
    margin-right: 7px;
    font-size: 27px;
  }
}
ion-button {
  --background: var(--ion-color-orange);
        --background-activated-opacity: 0;
        --border-radius: 50px;
        margin-top: 42px;
        height: 66px;
        font-size: 21px;
        --box-shadow: none;
}
}
.header {
  background-color:var(--ion-color-orange);
  height: 176px;
  padding: 33px 0;
  border-radius: 0 0 86% 85%/90%;
  ion-item {
    --background: transparent;
    color: var(--ion-color-white);
    font-size: 23px;
    text-transform: uppercase;
    margin-top: -3px;
    font-weight: bold;
    ion-icon{
      color:var(--ion-color-white);
      padding-right: 20px;
    }
  
}
}
.profile-cover-pic {
 
  background: var(--ion-color-white);
  border-radius: 10px;
 
  margin-left: auto;
  margin-right: auto;
}