<ion-header class="ion-no-border">
   <ion-toolbar mode="ios">
      <ion-buttons slot="start">
         <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>courses</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-grid>
      <!-- <ion-list>
         <ion-item lines="none">
            <ion-thumbnail slot="start">
               <img src="assets/img/teacher.jpg">
            </ion-thumbnail>
            <ion-label>
               <h3>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </h3>
               <p>fjoirfjio</p>
               <p> dwhdksj iooshj 8udiecjks nywdiysuiac wydsuajhc ashdiua uywuihc</p>
            </ion-label>
         </ion-item>
         <ion-item lines="none">
            <ion-thumbnail slot="start">
               <img src="assets/img/teacher2.jpg">
            </ion-thumbnail>
            <ion-label>
               <h3>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </h3>
               <p>fjoirfjio</p>
               <p> dwhdksj iooshj 8udiecjks nywdiysuiac wydsuajhc ashdiua uywuihc</p>
            </ion-label>
         </ion-item>
         <ion-item lines="none">
            <ion-thumbnail slot="start">
               <img src="assets/img/teacher2.jpg">
            </ion-thumbnail>
            <ion-label>
               <h3>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </h3>
               <p>fjoirfjio</p>
               <p> dwhdksj iooshj 8udiecjks nywdiysuiac wydsuajhc ashdiua uywuihc</p>
            </ion-label>
         </ion-item>
         </ion-list> -->
      <ion-row>
         <ion-col size="12">
            <ion-card class="sky-blue" *ngFor="let feed of allCourseList">
               <ion-row>
                  <ion-col size="12">
                     <ion-card-header class="ion-text-center ion-no-padding">
                        <ion-card-title>{{feed.title}}</ion-card-title>
                        <h2>
                           <ion-text color="warning">{{feed.language}}</ion-text>
                           
                        </h2>
                        <p>{{feed.description}}</p>
                        <strong>CBSE | UP | BIHAR | ALL STATE BOARD</strong>
                     </ion-card-header>
                     <ion-card-content class="ion-no-padding mt-10">
                        <ion-row>
                           <ion-col size='4'>
                              <div class="user-1 yellow">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                           <ion-col size="4">
                              <div class="user-1 purple">
                                 <img src="assets/img/user-img-2.png">
                              </div>
                           </ion-col>
                           <ion-col size='4'>
                              <div class="user-1 green">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                        </ion-row>
                     </ion-card-content>
                  </ion-col>
               </ion-row>
            </ion-card>
            <!-- <ion-card class="sky-blue">
               <ion-row>
                  <ion-col size="12">
                     <ion-card-header class="ion-text-center ion-no-padding">
                        <ion-card-title>Exam Master</ion-card-title>
                        <h2>
                           <ion-text color="warning">Hindi</ion-text>
                           Medium
                        </h2>
                        <strong>CBSE | UP | BIHAR | ALL STATE BOARD</strong>
                     </ion-card-header>
                     <ion-card-content class="ion-no-padding mt-10">
                        <ion-row>
                           <ion-col size='4'>
                              <div class="user-1 yellow">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                           <ion-col size="4">
                              <div class="user-1 purple">
                                 <img src="assets/img/user-img-2.png">
                              </div>
                           </ion-col>
                           <ion-col size='4'>
                              <div class="user-1 green">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                        </ion-row>
                     </ion-card-content>
                  </ion-col>
               </ion-row>
            </ion-card>
            <ion-card class="red">
               <ion-row>
                  <ion-col size="12">
                     <ion-card-header class="ion-text-center ion-no-padding">
                        <ion-card-title>Exam Master</ion-card-title>
                        <h2>
                           <ion-text color="warning">Hindi</ion-text>
                           Medium
                        </h2>
                        <strong>CBSE | UP | BIHAR | ALL STATE BOARD</strong>
                     </ion-card-header>
                     <ion-card-content class="ion-no-padding mt-10">
                        <ion-row>
                           <ion-col size='4'>
                              <div class="user-1 yellow">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                           <ion-col size="4">
                              <div class="user-1 purple">
                                 <img src="assets/img/user-img-2.png">
                              </div>
                           </ion-col>
                           <ion-col size='4'>
                              <div class="user-1 green">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                        </ion-row>
                     </ion-card-content>
                  </ion-col>
               </ion-row>
            </ion-card>
            <ion-card class="black">
               <ion-row>
                  <ion-col size="12">
                     <ion-card-header class="ion-text-center ion-no-padding">
                        <ion-card-title>Exam Master</ion-card-title>
                        <h2>
                           <ion-text color="warning">Hindi</ion-text>
                           Medium
                        </h2>
                        <strong>CBSE | UP | BIHAR | ALL STATE BOARD</strong>
                     </ion-card-header>
                     <ion-card-content class="ion-no-padding mt-10">
                        <ion-row>
                           <ion-col size='4'>
                              <div class="user-1 yellow">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                           <ion-col size="4">
                              <div class="user-1 purple">
                                 <img src="assets/img/user-img-2.png">
                              </div>
                           </ion-col>
                           <ion-col size='4'>
                              <div class="user-1 green">
                                 <img src="assets/img/user-img-1.png">
                              </div>
                           </ion-col>
                        </ion-row>
                     </ion-card-content>
                  </ion-col>
               </ion-row>
            </ion-card> -->

         </ion-col>
      </ion-row>
   </ion-grid>
   <ion-infinite-scroll (ionInfinite)="loadMore($event)" >
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more wanted list..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>