<ion-content class="ion-no-margin background-image">
 
   <ion-grid class="ion-no-padding">
      <div class="blue-bg ion-text-center">
         <div class="logo">
            <img src="assets/img/logo.png">
         </div>
         <h1>Sign In</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
      <ion-row>
         <ion-col size="12">
            <ion-item>
               <ion-label position="floating">Email</ion-label>
               <ion-input  formControlName="email" placeholder="Enter Email"></ion-input>
            </ion-item>
            <p ion-text class="text-1x has-error red"
               *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
               Email is required.
            </p>
         </ion-col>
         <ion-col size="12">
            <ion-item size="12">
               <ion-label position="floating">Password</ion-label>
               <ion-input  formControlName="password" placeholder="Enter Password"></ion-input>
            </ion-item>
            <p ion-text class="text-1x has-error red"
               *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
               Password is required.
            </p>
         </ion-col>
      </ion-row>
      <ion-button  type="submit"  expand="block"  routerLinkActive="router-link-active" [disabled]="!loginForm.valid || loading">
         {{!loading? 'Sign In':''}}
         <ion-item *ngIf="loading">
            <ion-spinner name="circles"></ion-spinner>
          </ion-item>
         <!-- <ion-spinner name="bubbles" ></ion-spinner> -->
      </ion-button>
   </form>
      <p class="ion-text-center forgot-password" [routerLink]="['/forgot-password']"
         routerLinkActive="router-link-active">Forgot Password ?</p>
      <p class="ion-text-center">
         Don't have an account?
         <ion-text routerLink="/registration"> Sign up</ion-text>
      </p>
   </ion-grid>

</ion-content>