

ion-card.book-section{
    margin: 8px 3px;
    box-shadow: 0 0 3px #ccc;
    background-color: var(--ion-color-white);
    padding: 3px 4px;
    border-left: 7px solid var(--ion-green-dashboard-button);



    h3.ion-text-wrap {
		font-size: 16px;
		font-weight: 700;
	}

ion-chip{
    .ion-color-light{
        --ion-color-shade: #161617 !important;
    }
    ion-label{
    ion-text {
        font-weight: 500;
        color: var(--ion-color-black);
        font-size: 16px;
    }
}
}
.book-image {
   
    width: 100px;
    height: auto;
    margin: auto;
}
}