ion-toolbar {
  --background: transparent;
  background-color: var(--ion-color-orange);
  .list-ios {
    background: transparent !important;
  }
  ion-item {
    padding: 8px 0px;
    --background: transparent;
    color: var(--ion-color-white);
    p {
      color: var(--ion-color-white);
    }
    h2 {
      text-transform: capitalize;
    }
    ion-avatar {
      width: 34%;
      margin: 0;
      height: auto;
      padding: 0px;
    }
  }
}
ion-content {
  --background: var(--ion-color-orange) !important;
  ion-list {
    ion-item {
      padding: 4px 0px;
      --background: transparent;
      --color: var(--ion-color-white);
  }
  }
  .list-ios {
    background: transparent !important;
  }
}
ion-menu ion-list.md {
  background: border-box;
}
ion-icon.md.hydrated {
  color: #fff;
}
.menu-inner {
  box-shadow: none !important;
}