<ion-header>
   <ion-toolbar mode="ios">
      <ion-buttons slot="start">
         <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>

      <ion-icon name="create-outline" slot="end" size="large" [routerLink]="['/edit-profile']"></ion-icon>
       
     
   </ion-toolbar>
   </ion-header> 
   <ion-content>
      <ion-grid>
        <ion-row>
           <ion-col size="12">
            <ion-col size="12" class="ion-text-center profile-details">
               <div class="prifile-image">
                  <img src="assets/img/profile.png">
                 <ion-icon name="camera-outline"></ion-icon>
                 <input type="file">
              </div>
              <h3>{{getProfileData?.first_name}}</h3>
              <p>{{getProfileData?.last_name}}</p>
              <p>{{getProfileData?.email}}</p>
             </ion-col>
           </ion-col>
        </ion-row>
        
         <ion-row class="complited">
            <ion-col size="6">
           <ion-card class="ion-text-center">
                  <div class="">
                     <circle-progress
                     [percent]="85"
                     [radius]="30"
                     [outerStrokeWidth]="6"
                     [innerStrokeWidth]="0"
                     [outerStrokeColor]="'#78C000'"
                     [innerStrokeColor]="'#C7E596'"
                     [animation]="true"
                     [animationDuration]="300"
                   ></circle-progress>
                  </div>
                  <p>
                     <br><span>Test completed </span><br> 
                  </p>
               </ion-card>
            </ion-col>
            <ion-col size="6">
           <ion-card class="ion-text-center">
               <div class="">
                  <circle-progress
                  [percent]="85"
                  [radius]="30"
                  [outerStrokeWidth]="6"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
               </div>
               <p>
                  <br><span>Lessons completed </span><br> 
               </p>
            </ion-card>
         </ion-col>
            <ion-col size="6" >
              <ion-card class="ion-text-center">
               <ion-list>
                  <circle-progress
                  [percent]="55"
                  [radius]="10"
                  [showTitle]="true"
                  [title] ="Questions"
                  [titleFontSize]="44"
                   [showUnits]="false"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="false"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                 
                ></circle-progress>
                </ion-list>
               
                  <p>
                     <br><span>Polls answered</span><br> 
                  </p>
               </ion-card>
            </ion-col>
          
          
            <ion-col size="6" >
              <ion-card class="ion-text-center">
               
               <div >
                  <circle-progress
                  [percent]="55"
                  [radius]="10"
                  [showTitle]="true"
                  [title] ="Questions"
                  [titleFontSize]="44"
                   [showUnits]="false"
                  [innerStrokeWidth]="0"
                  [outerStrokeColor]="false"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="300"
                 
                ></circle-progress>
               </div>
               <p>
                  <br><span>Questions Attempted</span><br> 
               </p>
            </ion-card>
         </ion-col>
      
            
         </ion-row>
         <ion-row>
            <ion-col size="12" class="header-text">
               <h3>Leaderboard</h3>
               <ion-text>Contrary to popular belief, </ion-text>
            </ion-col>
            <ion-col size="12" class="profile-listing">
               <ion-item lines="none">
                  <ion-chip color="warning" slot="start">
                     <ion-label>1</ion-label>
                   </ion-chip>
                  <ion-avatar slot="start">
                     <img src="assets/img/profile.png">
                  </ion-avatar>
                  <ion-label>
                     <h3>Lorem ipsum</h3>
                     <p>1234.87 min</p>
                  </ion-label>
               </ion-item>
               <ion-item lines="none">
                  <ion-chip color="danger" slot="start">
                     <ion-label>2</ion-label>
                   </ion-chip>
                  <ion-avatar slot="start">
                     <img src="assets/img/profile.png">
                  </ion-avatar>
                  <ion-label>
                     <h3>Lorem ipsum</h3>
                     <p>1234.87 min</p>
                  </ion-label>
               </ion-item>
               <ion-item lines="none">
                  <ion-chip color="success" slot="start">
                     <ion-label>3</ion-label>
                   </ion-chip>
                  <ion-avatar slot="start">
                     <img src="assets/img/profile.png">
                  </ion-avatar>
                  <ion-label>
                     <h3>Lorem ipsum</h3>
                     <p>1234.87 min</p>
                  </ion-label>
               </ion-item>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-content>