<ion-content class="ion-no-margin background-image">

   <ion-grid class="ion-no-padding">
      <div class="blue-bg ion-text-center">
         <h1>Forgot Password</h1>
      </div>
      <form [formGroup]="forgot_form" (ngSubmit)="forgotPassword()">
         <ion-row>
            <ion-col size="12">
               <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="email"></ion-input>
               </ion-item>
               <p ion-text class="text-1x has-error red"
                  *ngIf="forgot_form.get('email').touched && forgot_form.get('email').hasError('required')">
                  Email is required.
               </p>
            </ion-col>

         </ion-row>
         <ion-button type="submit" expand="block" routerLinkActive="router-link-active">Forgot Password</ion-button>
      </form>

   </ion-grid>
</ion-content>