<ion-content class="ion-no-padding">
  <ion-grid class="ion-no-padding">
     <!-- <div class="video-container">
        <video autoplay loop>
          <source src="assets/video/bg-image.mp4" type="video/mp4">
          
        </video>
        
        
        </div> -->
     <!-- <div class="home-page-img">
        <img src="assets/img/l-bg.jpg"> 
        </div> -->
     <div class="home-background ion-text-center">
        <img src="assets/img/img-1.png" alt="">
        <h1>Education App</h1>
     </div>
     <ion-button expand="block" routerLink="/login" >Login</ion-button>
     <ion-button expand="block" class="share-btn" routerLink="/registration" >Create Account</ion-button>
  </ion-grid>
</ion-content>